/* .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  } */
  .example-form mat-form-field{
    width: 40%;
    margin: auto;
    text-align: right;
  }
  .example-full-width {
    width: 100%;
  }
  
  .example-option-img {
    vertical-align: middle;
    margin-right: 8px;
  }
  
  [dir='rtl'] .example-option-img {
    margin-right: 0;
    margin-left: 8px;
  }

  .post{
    text-align : center;
    font-size : 30px;
  }

  .button{
    padding : 5px 10px;
    

  }

  